In [2]:
import pandas as pd
data1 ={
    "name": ["Sally", "Mary", "John"],
    "age" : [50, 40, 30]
}
data2 = {
    "qualified": ["True", "False", "True"]
}

df1 = pd.DataFrame(data1)
print(df1)
df2 = pd.DataFrame(data2)
print(df2)
newdf = df1.join(df2)
print(newdf)

    name  age
0  Sally   50
1   Mary   40
2   John   30
  qualified
0      True
1     False
2      True
    name  age qualified
0  Sally   50      True
1   Mary   40     False
2   John   30      True

In [5]:
df1 = pd.DataFrame([[1,2],[3,4]])
df1 = pd.DataFrame([[5,6],[7,8]])
def myfunc(a,b):
    if(a.sum() > b.sum()):
        return a
    else:
        return b
print(df1)
print(df2)
print(df1.combine(df2,myfunc))

   0  1
0  5  6
1  7  8
  qualified
0      True
1     False
2      True

TypeError: '>' not supported between instances of 'int' and 'str'

In [6]:
data1 ={
    "name": ["Sally", "Mary", "John"],
    "age" : [50, 40, 30]
}
data2 ={
    "name": ["Sally", "Peter", "Micky"],
    "age" : [77,44,22]
}
df1 = pd.DataFrame(data1)
print(df1)
df2 = pd.DataFrame(data2)
print(df2)
newdf = df1.merge(df2, how = 'right')
print(newdf)

    name  age
0  Sally   50
1   Mary   40
2   John   30
    name  age
0  Sally   77
1  Peter   44
2  Micky   22
    name  age
0  Sally   77
1  Peter   44
2  Micky   22

In [ ]:
df  = pd.DataFrame({'team': ['A','B','C','D'],
                   'points': [88,91,99,94],
                   'assists':['12','17','24','28'],
                    'rebounds': [22,28,30,31]
                   })

print(df)
df = pd.melt(df,id_vars='team', value_vars=['points','assists','rebounds'])
print(df)

  team  points assists  rebounds
0    A      88      12        22
1    B      91      17        28
2    C      99      24        30
3    D      94      28        31
   team  variable value
0     A    points    88
1     B    points    91
2     C    points    99
3     D    points    94
4     A   assists    12
5     B   assists    17
6     C   assists    24
7     D   assists    28
8     A  rebounds    22
9     B  rebounds    28
10    C  rebounds    30
11    D  rebounds    31