In [1]:
import pandas as pd
pd.set_option('display.max_columns',10)
df = pd.read_excel("C:/Users/Tcs/Downloads/SampleDocs-Sample Sales Data.xlsx")
print(df)

   OrderDate   Region       Rep    Item  Units  Unit Cost   Total
0 2016-01-06     East     Jones  Pencil     95       1.99  189.05
1 2016-01-23  Central    Kivell  Binder     50      19.99  999.50
2 2016-02-09  Central   Jardine  Pencil     36       4.99  179.64
3 2016-02-26  Central      Gill     Pen     27      19.99  539.73
4 2016-03-15     West   Sorvino  Pencil     56       2.99  167.44
5 2016-04-01     East     Jones  Binder     60       4.99  299.40
6 2016-04-18  Central   Andrews  Pencil     75       1.99  149.25
7 2016-05-05  Central   Jardine  Pencil     90       4.99  449.10
8 2016-05-22     West  Thompson  Pencil     32       1.99   63.68

In [6]:
f=df['Rep'].str.strip()
f.to_excel("D:\dcap.xlsx")

print("\nReplace value:")
k=df.fillna(method='pad')
print(k)
print("\nUpdated list\n")
k.to_excel("D:\dcap.xlsx")

Replace value:
   OrderDate   Region       Rep    Item  Units  Unit Cost   Total
0 2016-01-06     East     Jones  Pencil     95       1.99  189.05
1 2016-01-23  Central    Kivell  Binder     50      19.99  999.50
2 2016-02-09  Central   Jardine  Pencil     36       4.99  179.64
3 2016-02-26  Central      Gill     Pen     27      19.99  539.73
4 2016-03-15     West   Sorvino  Pencil     56       2.99  167.44
5 2016-04-01     East     Jones  Binder     60       4.99  299.40
6 2016-04-18  Central   Andrews  Pencil     75       1.99  149.25
7 2016-05-05  Central   Jardine  Pencil     90       4.99  449.10
8 2016-05-22     West  Thompson  Pencil     32       1.99   63.68

Updated list

In [7]:
print("\nDrop one particular column and its values:\n")
k.drop(['Item'],axis=1,inplace=True)
print(k)
print("\nUpdated list..\n")
k.to_excel("D:\dcap.xlsx")

Drop one particular column and its values:

   OrderDate   Region       Rep  Units  Unit Cost   Total
0 2016-01-06     East     Jones     95       1.99  189.05
1 2016-01-23  Central    Kivell     50      19.99  999.50
2 2016-02-09  Central   Jardine     36       4.99  179.64
3 2016-02-26  Central      Gill     27      19.99  539.73
4 2016-03-15     West   Sorvino     56       2.99  167.44
5 2016-04-01     East     Jones     60       4.99  299.40
6 2016-04-18  Central   Andrews     75       1.99  149.25
7 2016-05-05  Central   Jardine     90       4.99  449.10
8 2016-05-22     West  Thompson     32       1.99   63.68

Updated list..

In [8]:
print("\nDrop NaN rows:\n")
df=pd.read_excel("D:\dcap.xlsx")
print(df)
x=df.dropna()
print(x)
print("\nUpdated data list:\n")
x.to_excel("D:\dcap.xlsx")

Drop NaN rows:

   Unnamed: 0  OrderDate   Region       Rep  Units  Unit Cost   Total
0           0 2016-01-06     East     Jones     95       1.99  189.05
1           1 2016-01-23  Central    Kivell     50      19.99  999.50
2           2 2016-02-09  Central   Jardine     36       4.99  179.64
3           3 2016-02-26  Central      Gill     27      19.99  539.73
4           4 2016-03-15     West   Sorvino     56       2.99  167.44
5           5 2016-04-01     East     Jones     60       4.99  299.40
6           6 2016-04-18  Central   Andrews     75       1.99  149.25
7           7 2016-05-05  Central   Jardine     90       4.99  449.10
8           8 2016-05-22     West  Thompson     32       1.99   63.68
   Unnamed: 0  OrderDate   Region       Rep  Units  Unit Cost   Total
0           0 2016-01-06     East     Jones     95       1.99  189.05
1           1 2016-01-23  Central    Kivell     50      19.99  999.50
2           2 2016-02-09  Central   Jardine     36       4.99  179.64
3           3 2016-02-26  Central      Gill     27      19.99  539.73
4           4 2016-03-15     West   Sorvino     56       2.99  167.44
5           5 2016-04-01     East     Jones     60       4.99  299.40
6           6 2016-04-18  Central   Andrews     75       1.99  149.25
7           7 2016-05-05  Central   Jardine     90       4.99  449.10
8           8 2016-05-22     West  Thompson     32       1.99   63.68

Updated data list:

In [9]:
print("\nReplace values:\n")
n=pd.read_excel("D:\dcap.xlsx")
print("\nOriginal data:\n")
print(n)
y=n.replace({89:88})
print("\nReplaced dataset:\n")
print(y)
print("\nUpdated dataset:\n")
y.to_excel("D:\dcap.xlsx")

Replace values:


Original data:

   Unnamed: 0.1  Unnamed: 0  OrderDate   Region       Rep  Units  Unit Cost  \
0             0           0 2016-01-06     East     Jones     95       1.99
1             1           1 2016-01-23  Central    Kivell     50      19.99
2             2           2 2016-02-09  Central   Jardine     36       4.99
3             3           3 2016-02-26  Central      Gill     27      19.99
4             4           4 2016-03-15     West   Sorvino     56       2.99
5             5           5 2016-04-01     East     Jones     60       4.99
6             6           6 2016-04-18  Central   Andrews     75       1.99
7             7           7 2016-05-05  Central   Jardine     90       4.99
8             8           8 2016-05-22     West  Thompson     32       1.99

    Total
0  189.05
1  999.50
2  179.64
3  539.73
4  167.44
5  299.40
6  149.25
7  449.10
8   63.68

Replaced dataset:

   Unnamed: 0.1  Unnamed: 0  OrderDate   Region       Rep  Units  Unit Cost  \
0             0           0 2016-01-06     East     Jones     95       1.99
1             1           1 2016-01-23  Central    Kivell     50      19.99
2             2           2 2016-02-09  Central   Jardine     36       4.99
3             3           3 2016-02-26  Central      Gill     27      19.99
4             4           4 2016-03-15     West   Sorvino     56       2.99
5             5           5 2016-04-01     East     Jones     60       4.99
6             6           6 2016-04-18  Central   Andrews     75       1.99
7             7           7 2016-05-05  Central   Jardine     90       4.99
8             8           8 2016-05-22     West  Thompson     32       1.99

    Total
0  189.05
1  999.50
2  179.64
3  539.73
4  167.44
5  299.40
6  149.25
7  449.10
8   63.68

Updated dataset:

In [10]:
df=pd.read_excel("D:\dcap.xlsx")
print(df)
print("\nExtract using isin() function:\n")
new=df['Units'].isin([88])
print(df[new])

   Unnamed: 0.2  Unnamed: 0.1  Unnamed: 0  OrderDate   Region       Rep  \
0             0             0           0 2016-01-06     East     Jones
1             1             1           1 2016-01-23  Central    Kivell
2             2             2           2 2016-02-09  Central   Jardine
3             3             3           3 2016-02-26  Central      Gill
4             4             4           4 2016-03-15     West   Sorvino
5             5             5           5 2016-04-01     East     Jones
6             6             6           6 2016-04-18  Central   Andrews
7             7             7           7 2016-05-05  Central   Jardine
8             8             8           8 2016-05-22     West  Thompson

   Units  Unit Cost   Total
0     95       1.99  189.05
1     50      19.99  999.50
2     36       4.99  179.64
3     27      19.99  539.73
4     56       2.99  167.44
5     60       4.99  299.40
6     75       1.99  149.25
7     90       4.99  449.10
8     32       1.99   63.68

Extract using isin() function:

Empty DataFrame
Columns: [Unnamed: 0.2, Unnamed: 0.1, Unnamed: 0, OrderDate, Region, Rep, Units, Unit Cost, Total]
Index: []